<a routerLink="/dashbord" class="btn btn-dark"> <i class="fa fa-chevron-left">
</i>< SHOW DASHBORD</a>
<div class="container">
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>  <th>Firstname</th><th>Lastname</th> <th>Username</th> <th>Birthdate</th> <th>Email</th> <th>Role</th> </tr>
                </thead>
                <tbody *ngFor="let user of users"  >
                    <tr >
                        
                        <td>{{user.firstname}}</td>
                        <td>{{user.lastname}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.birthdate  }}</td>
                        <td>{{user.email}}</td>            
                        <td>{{user.roles}}</td>  
                        <td><button  class="btn btn-danger" (click)="deleteUser(user.id)"  >Delete</button ></td>
                         <td><a  class="btn btn-success" [hidden]="user.roles=='USER' "  [routerLink]="['/profil',user.username]">Update</a></td>                             
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
  